body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.announcement-bar {
  background-color: #6b2d5c;
  color: white;
  text-align: center;
  padding: 5px 0;
  height: 45px;
  font-size: 15px;
}

.announcement-bar a {
  color: white;         
  text-decoration: none; 
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 6px 32px;
  border-bottom: 1px solid #eee;
  background-color: white;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-left a {
  margin-left: 15px;
  text-decoration: none;
  color: black;
  font-size: 18px;
  letter-spacing: 1px;
}

.nav-right a {
  margin-right: 15px;
  text-decoration: underline;
  color: black;
  font-size: 15px;
}

.logo {
  font-size: 50px;
  font-weight: 530;
  margin-right: 20px;
  letter-spacing: 1px;
}

.feature-section {
  max-width: 1400px;
  height: 525px;
  background-color: #f5efe6;
  margin: 0 auto;
  padding: 60px 40px;
  display: grid;
  grid-template-columns: 1.4fr 1fr 0.7fr;
  gap: 0;
}

.feature-section img {
  width: 100%;
  height: auto;
  display: block;
}

.left-image img {
  align-self: center;
  width: 430px;
  height: 475px;
  margin-left: 20px;
}

.center-image {
   margin-left: -50px;
}


.center-image img {
  text-align: center;
  width: 415px;
  height: 350px;
  padding: 30px 0 0 0;
}

.right-image img {
  align-self: start;
  width: 240px;
  height: 260px;
}

.sub {
  font-size: 13px;
  letter-spacing: 1px;
  margin-bottom: 8px;
}

.feature-title {
  font-size: 44px;
  font-weight: 500;
}

.trending {
  text-align: center;
  height: 525px;
}

.trending-title {
  padding: 30px 40px 30px 40px;
  font-size: 20px;
  letter-spacing: 1px;
}

.trending-container {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.trending-item {
  cursor: pointer;
}

.trending-item img {
  width: 250px;
  height: 350px;
  object-fit: cover;
  display: block;
}

.trending-item p {
  margin-top: 10px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;
}

.trending-item img:hover {
  opacity: 0.85;
  transition: 0.3s ease;
}
